body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.no-scroll {
  touch-action: none;
}

.root {
  contain: strict;
  position: relative;
  display: flex;

  & > * {
    flex: 1 0 auto;
  }

  & > .timeline {
    flex-grow: 0;
  }

  font-family: sans-serif;
  --border: hsl(207, 60%, 85%);
  height: 100vh;
  max-width: 100vw;
  width: 100%;
  height: 600px;
  --cell-height: calc(600px / 12);
  position: relative;
  overflow: auto;
  background: white;
  border: 1px solid hsla(0, 0%, 83%, 1);

  &,
  * {
    box-sizing: border-box;
  }
}

.debug {
  &:not(.debug-active) {
    display: none;
  }
}

.calendar {
  user-select: none;
  -moz-user-select: none;
  text-align: center;
  display: flex;
  position: relative;
  border-collapse: collapse;
}

.react-draggable {
  position: absolute;
}

.handle-wrapper {
  z-index: 3;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-position: center;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-sizing: border-box;
  color: hsla(209, 100%, 80%, 0.5);
  vertical-align: middle;

  .handle.top {
    top: -5px !important;
    cursor: n-resize !important;
  }

  .handle.bottom {
    bottom: 8px !important;
    cursor: s-resize !important;
  }

  .handle.top,
  .handle.bottom {
    &::after {
      display: block;
      text-align: center;
      content: 'â•';
    }
  }
}

.layer-container {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  .calendar {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .event {
    z-index: 3;
  }

  .calendar {
    position: absolute;
    z-index: -1;
  }

  .drag-box {
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 0;
    top: 0;
    z-index: 2;
    border: 3px dashed hsla(209, 97%, 50%, 0.5);
    background: hsla(209, 97%, 65%, 0.5);
    width: 100px;
    height: 100px;
  }
}

.draggable {
  z-index: 2;
}

.button-reset {
  outline: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  all: unset;
  text-align: initial;
  color: inherit;
}

.is-draggable {
  cursor: grab;
}

.is-draggable.react-draggable-dragging {
  cursor: grabbing;
}

.event {
  will-change: height;
  contain: content;
  user-select: none;
  display: block;
  z-index: 5;
  margin: 0;
  position: absolute;
  font-weight: bold;
  font-size: 1rem;
  --text: hsl(207, 65%, 93%);
  --background: hsl(202, 100%, 20%);

  &:not(.is-pending-creation) {
    &:focus,
    &:focus-within,
    &:hover {
      --background: hsl(202, 100%, 30%);
      box-shadow: 0 1px 5px 1px hsla(202, 100%, 16%, 0.5),
        0 5px 10px 1px rgba(217, 217, 217, 0.5);
      z-index: 4;
    }

    &:focus,
    &:focus-within {
      --background: hsl(202, 100%, 40%);
    }
  }

  border: 0.5px solid var(--border);

  background: var(--background);
  color: var(--text);
  left: 0;
  right: 0;
  width: 100px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;

  &.is-pending-creation {
    opacity: 0.75;
  }

  &.is-being-edited {
  }
}

.hours-container {
  display: flex;
}

.day-column {
  flex: 1 1 250px;
  min-width: 75px;

  .day-hours {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .cell {
    .time {
      color: hsl(0, 0%, 48%);
      font-size: 0.75em;
      text-transform: uppercase;
    }

    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    flex: 1 1 var(--cell-height, 50px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .title {
    padding: 10px 10px;
    font-size: 20px;

    justify-content: center;
    align-items: center;
  }
}

.cell:first-child,
.cell + .cell {
  border: 1px solid hsla(0, 0%, 83%, 1);
  border-bottom: 0;
  border-left: 0;
}

.cell + .cell:nth-child(even) {
  border-top-width: 1px;
  border-top-style: dashed;
}

.header .cell {
  border-top-width: 0;
}

.header {
  will-change: transform;
  z-index: 2;
  background: hsla(0, 0%, 97%, 1);
  box-shadow: 0 1px 5px hsla(0, 0%, 50%, 0.2),
    0 1px 10px hsla(0, 0%, 85%, 0.239);
}

.day-column.first {
  width: 100px;
  max-width: 100px;
  min-width: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
}

.range-boxes {
  .event-content {
    padding: 10px 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    & > * {
      width: 100%;
    }
  }

  .start {
    align-self: start;
  }

  .end {
    align-self: end;
  }
}

.timeline {
  text-align: end;
  pointer-events: none;

  .day-column {
    flex: 0 0 auto;
  }
}

.timeline .header {
  z-index: 1;
  box-shadow: none;
  background: white;
  .cell {
    visibility: hidden;
  }
}

.timeline > *:not(.header) .cell {
  position: relative;
  top: -8px;
  &:first-child {
    visibility: hidden;
  }

  .time {
    background: white;
    padding: 0 1ch;
  }

  border: none;
  border-color: transparent;
  text-align: end;
  justify-content: flex-end;
}
