body,
html {
  margin: 0;
}

.root {
  height: 100vh;
  width: 100vw;
  position: relative;
  // top: 50px;
  // left: 50px;
  overflow: auto;
  margin-bottom: 100px;
}

.debug {
  &:not(.debug-active) {
    display: none;
  }
}


.calendar {
  // position: relative;
  // top: 50px;
  // left: 100px;
  // width: 800px;
  // height: 100px;
  user-select: none;
  -moz-user-select: none;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  position: relative;
  // height: 800px;
  &,
  * {
    box-sizing: border-box;
  }

  border-collapse: collapse;
}

.layer-container {
  position: relative;
  z-index: 1;
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .event {
    z-index: 3;
  }

  .calendar {
    z-index: 1;
  }

  .drag-box {
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
    left: 0;
    top: 0;
    z-index: 2;
    border: 3px dashed hsla(209, 97%,50%, 0.5);
    background: hsla(209, 97%, 65%, 0.5);
    width: 100px;
    height: 100px;
  }
}

.event {
  user-select: none;
  display: block;
  z-index: 2;
  margin: 0;
  position: absolute;
  font-weight: bold;
  font-size: 110%;
  --text: hsl(207, 65%, 93%);
  --border: hsl(207, 60%, 85%);
  --background: hsl(202, 91%, 14%);
  box-shadow: 0 1px 5px hsla(0, 0%, 50%, 0.2),
    0 1px 10px hsla(0, 0%, 85%, 0.239);
  border: 0.5px solid var(--border);
  // padding: 15px;
  border-radius: 5px;
  background: var(--background);
  color: var(--text);
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;

  &.is-pending-creation {
    opacity: 0.75;
  }
  // white-space: nowrap;
}

.hours-container {
  display: flex;
}

.day-column {
  flex: 0 1 250px;
  min-width: 200px;
  // border: 1px solid lightgray;
  .title {
    padding: 20px 10px;
    background: hsla(0, 0%, 97%, 1);
    font-size: 20px;
    // border: 1px solid lightgray;
  }

  .day-hours {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .cell {
    border: 0.5px solid hsla(0, 0%, 83%, 0.5);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    // transition-property: height width;
    flex: 1 1 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.header {
  position: sticky;
  z-index: 2;
  top: 0;
  box-shadow: 0 1px 5px hsla(0, 0%, 50%, 0.2),
    0 1px 10px hsla(0, 0%, 85%, 0.239);
}

.day-column.first {
  width: 100px;
  max-width: 100px;
  min-width: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
}

.range-boxes {
  .range-box {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & > * {
      width: 100%;
    }
  }

  .start {
    align-self: start;
  }

  .end {
    align-self: end;
  }
}