body,
html {
  margin: 0;
}

.root {
  height:700px;
  width: 800px;
  overflow: auto;
}


.calendar {
  // position: relative;
  // top: 50px;
  // left: 100px;
  // width: 800px;
  // height: 100px;
  user-select: none;
  -moz-user-select: none;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  position: relative;
  // height: 800px;
  &,
  * {
    box-sizing: border-box;
  }

  border-collapse: collapse;
}

.layer-container {
  position: relative;
  z-index: 1;
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .event {
    z-index: 3;
  }

  .calendar {
    z-index: 1;
  }

  .drag-box {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: red;
    width: 100px;
    height: 100px;
  }
}

.event {
  user-select: none;
  display: block;
  z-index: 2;
  margin: 0;
  position: absolute;
  font-weight: bold;
  font-size: 110%;
  --background: hsl(125, 65%, 93%);
  --text: hsl(125, 86%, 14%);
  box-shadow: 0 1px 5px hsla(0, 0%, 50%, 0.2),
    0 1px 10px hsla(0, 0%, 85%, 0.239);
  border: 0.5px solid var(--text);
  padding: 15px;
  border-radius: 5px;
  background: var(--background);
  color: var(--text);
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

.day-column {
  flex: 0 1 250px;
  min-width: 200px;
  // border: 1px solid lightgray;
  .title {
    padding: 20px 10px;
    background: hsla(0, 0%, 97%, 1);
    font-size: 20px;
    // border: 1px solid lightgray;
    box-shadow: 0 1px 5px hsla(0, 0%, 50%, 0.2),
      0 1px 10px hsla(0, 0%, 85%, 0.239);
  }

  .day-hours {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .cell {
    border: 0.5px solid hsla(0, 0%, 83%, 0.5);
    flex: 1 1 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.header {
  position: sticky;
  z-index: 2;
  top: 0;
}